*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-color: rgb(1, 1, 10);
}

header{
    background-color: red;
    color: white;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.473)), url('imagenes/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


a{
    color: white;
}

img{
    width: 100px;
    height: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(5px);
    z-index: 1;
    font-size: 22px;
    position: fixed;

}

.navbar nav ul{
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-txt{
    position: absolute;
    left: 0%;
    font-size: 18px;
    transform: translateY(70%); /*Investigar*/
    max-width: 740px;
    margin: 30px;
}

.header-txt h1{
    padding-bottom: 17px;
}

.btn-1{
    background-color: blue;
    color: white;
    border: none;
    padding: 7px;
    font-size: 22px;
}

.tarjeta-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    background-color: rgb(10, 0, 13);
    max-height: 220px;
    max-width: 320px;
    color: aliceblue;
    padding: 30PX;
    border-radius: 25px;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo img{
    height: 40px;
    width: 57px;

}

.cuerpo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cuerpo p{
    font-size: 14px;
    padding-top: 10px;
}

.cuerpo a{
    background-color: rgb(230, 118, 202);
    width: 100px;
    height: 16px;
    padding: 10px;
    text-align: center;
}

.informacion{
    width: 35%;
    padding: 10px;

    color: white; 
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer iframe{
    width: 65%; 
    border: none; 
}

footer li{
    margin-block: 8px;
}

#margen{
    margin-top: 20px;
}

footer{
    display: flex;
    height: 350px; 
    margin: 30px;
    background: rgba(0, 0, 0, 0.55);
}